header {
  width: 100%;
  position: fixed;
  top: 0; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 40px; 
  background: linear-gradient(to bottom, #0C0900, #0c0900c5, #0c090000);
}

.container-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.container-logo img{
  height: 68px;
  width: 61px;
}

.container-buttons button:nth-child(-n+3) {
  background-color: transparent;
  color: #ffffff;
}

.container-buttons button:nth-child(-n+3):hover {
  background-color: transparent;
  color: #F57C00;
}

.container-buttons button:last-child {
  background-color: #CC6700;
  border-radius: 50px;
}

.container-buttons button:last-child:hover {
  background-color: #F57C00;
}
